*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: row;
  align-content: flex-end;
  gap: 30px;
}
.result {
  display: flex;
  flex-direction: column;
}
.result__video-container {
  position: relative;
  padding-top: 78px;
  min-width: 711px;
  min-height: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}
/* форма с плейсхолдером*/
.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding-top: 16px;
}
.search-form__label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 5px;
}
.search-form__label:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}
.search-form__label-text {
  cursor: pointer;
}
.search-form__fieldset {
  border: none;
}
.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}
.search-form__textfield {
  appearance: none;
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  inline-size: 225px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
/*чекбоксы*/
.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #cfd3d4;
}
.search-form__label:has(:focus-visible) {
  padding: 2px;
  outline: 1px solid #fff;
}

input[type="checkbox"]:checked + span::after {
  content: "";
  display: flex;
  width: 15px;
  height: 15px;
  background-color: #fff;
}
.search-form__label:hover {
  text-decoration: underline;
}

/*кнопки найти */
.button {
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  border: 1px solid #fff;
  font-weight: 700;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.search-form__submit-button {
  display: flex;
  padding: 6px 74px;
  align-self: end;
  max-width: 194px;
  max-height: 34px;
}
.more-button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}
.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}
.button:hover {
  text-decoration: underline 1px #fff;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
/*контейнер с карточками городов*/
.content__details {
  display: flex;
  flex-direction: column;
  max-width: 399px;
}
.content__list-container {
  position: relative;
  display: block;
  flex-direction: column;
  overflow-y: scroll;
  block-size: 298px;
}

.title {
  margin-bottom: 26px;
  margin-right: 140px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__list-item {
  display: block;
  width: 100%;
  padding-left: 3px;
  padding-right: 3px;
}
.content__list-item:not(:last-child) {
  margin: 0 0 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.content__video-card-title {
  padding-top: 2px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: flex;
  flex-direction: column;
}
.content__video-card-description-container {
  display: block;
  padding: 2px;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link {
  display: block;
  text-decoration-line: none;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.content__card-link_current {
  background-color: #545050;
}
